#header_archive_list {
    color: #2E3436;
    font-family: Cantarell,'Droid Sans',Ubuntu,'DejaVu Sans',Arial,sans-serif;
    font-size: 22px;
    line-height: 0.6;
    margin: 0.4em 0 1em;
}

/*top bar*/

.left {
    float: left;
}

#top_bar_archive ul {
    list-style: none outside none;
    margin: 0;
    padding: 0 5px;
}

#top_bar_archive ul li {
    display: inline;
    margin: 0 5px 0 0;
}

#top_bar_archive a {
    -moz-transition: background 100ms linear 0s;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    outline: 0 none;
    padding: 4px 8px;
    text-decoration: none;
    text-shadow: 0 1px 0 #000000;
}

#top_bar_archive a:hover {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.2);
}

#top_bar_archive a:focus {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.15);
}

#top_bar_archive a:active, #top_bar_archive li.current-menu-item a, #top_bar_archive li.current-page-ancestor a {
    background: url("images/top_bar-item-bg.png") repeat-x scroll center top #1C2021;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.4) inset, 0 1px 3px rgba(0, 0, 0, 0.4) inset;
}

.right {
    float: right;
}

.hidden {
    display: none;
}

#top_bar_archive input {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("search-icon.png") no-repeat scroll 8px center transparent;
    border-color: -moz-use-text-color -moz-use-text-color -moz-use-text-color rgba(255, 255, 255, 0.3);
    border-style: none none none solid;
    border-width: 0 0 0 1px;
    color: #FFFFFF;
    font: inherit;
    margin: -8px 0 -8px -8px;
    outline: medium none;
    padding: 8px 8px 8px 28px;
    width: 150px;
}

input:-moz-read-write, textarea:-moz-read-write {
    -moz-user-modify: read-write !important;
}

#top_bar_archive {
    background: url("top_bar-bg.png") repeat-x scroll center top #2E3436;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 13px;
    line-height: normal;
    margin: 48px auto;
    width: 720px;
}

.container_12 .grid_9, .container_16 .grid_12 {
    width: 700px;
}

.container_12, .container_16 {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}

.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12, .grid_13, .grid_14, .grid_15, .grid_16 {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

input {
    -moz-appearance: textfield;
    -moz-binding: url("chrome://global/content/platformHTMLBindings.xml#inputFields");
    -moz-user-select: text;
    background-color: -moz-field;
    border: 2px inset threedface;
    color: -moz-fieldtext;
    cursor: text;
    font: -moz-field;
    letter-spacing: normal;
    line-height: normal !important;
    padding: 1px 0;
    text-align: start;
    text-indent: 0;
    text-rendering: optimizelegibility;
    text-shadow: none;
    text-transform: none;
    word-spacing: normal;
}


/*logo*/

#header #logo {
    float: left;
}

.grid_3, .container_16, .grid_4 {
    width: 220px;
}


#header_archive #logo img {
    -moz-transition: opacity 200ms ease-out 0s;
    height: 78px;
    margin-left: -10px;
    opacity: 1;
    width: 250px;
    left: 10px;
    margin-top: 40px;
}

#header_archive {
    margin: 20px auto 0;
    width: 960px;
    float: center;
}

/* part of https://mail.gnome.org/archives/anjuta-devel-list/2012-July/thread.html */
#header_archive h1 {
    color: #2E3436;
    font-size: 250%;
    padding: 0;
    width: 960px;
}

#select_archive {
    height: 27px;
    margin-left: 0;
    margin-top: 14px;
    text-align: center;
    width: 205px;
}

#body_archive {
    clear: both;
    margin: auto;
    padding-top: 1px;
    width: 1062px;
}

#body_archive_list {
    clear: both;
    margin: auto;
    padding-top: 1px;
    width: 960px;
}

#body_gnome_archive {
    clear: both;
    margin: auto;
    padding-top: 1px;
    width: 960px;
}

#page_archive {
    margin: auto;
    padding: 0;
    width: 960px;
}

/* global domain bar */

#global_domain_bar_archive {
    width: 960px;
    margin: auto;
}

#global_domain_bar_archive .maxwidth {
    margin: 10px;
    margin-top: -16px;
}


#global_domain_bar_archive .tab {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 4px 2px -2px #8FB3D9;
    float: right;
    font-size: 12px;
    line-height: 16px;
    padding: 6px 8px;
    position: relative;
    right: 0;
}

#global_domain_bar_archive .tab a.root:last-child {
    border-right: 0 none;
    margin-right: 0;
    padding-right: 0;
}

#global_domain_bar_archive .tab a.root {
    background: url(https://static.gnome.org/img/favicon.png) no-repeat scroll 0 0 #FFFFFF;
    border-right: 1px solid #CCCCCC;
    color: #555753;
    font-weight: bold;
    margin-right: 3px;
    padding-left: 18px;
    padding-right: 6px;
    text-decoration: none;
    padding-bottom: 3px;
}


#global_domain_bar_archive {
    margin: auto;
    width: 967px;
}

pre {
    white-space: pre-wrap;
}

table {
    border: 0;
    width: 100%;
}

td {
    border-width: 0 0 1px;
    border-style: none none solid;
    border-color: #eeeeec;
}

td a {
    padding-right: 10px;
}
